@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: rgb(245 245 254);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.main-content {
  flex: 1;
  padding: 20px;
  transition: all 0.3s ease;
  display: block;
}

/* Estilos para escritorio */
@media (min-width: 768px) {
  .main-content.sidebar-expanded {
    margin-left: 300px;
  }

  .main-content.sidebar-mini {
    margin-left: 80px;
  }
}

/* Estilos para m칩vil */
@media (max-width: 767px) {
  .main-content.sidebar-mini {
    margin-left: 80px;
    display: block;
  }

  .main-content.sidebar-expanded {
    display: none; /* Oculta el contenido cuando el sidebar est치 expandido en m칩vil */
  }

  .main-content.mobile {
    margin-left: 80px !important; /* Forzar margen en m칩vil */
    display: block !important;
  }

  .main-content.mobile.sidebar-expanded {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .ml-300px {
    margin-left: 80px;
  }
}

body {
margin: 0;
min-height: 100vh;
/*background-color: #f4f7fe;*/
}

#root {
min-height: 100vh;
}